@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(44, 109, 104);
    --primary-color-darker: rgb(38, 92, 87);
}

* {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

form input, form label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input {
    font-size: 24px;
    height: 40px;
    padding: 0 20px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 700;
    height: 40px;
    width: 400px;
    cursor: pointer;
    margin-top: 30px;
}

input:focus {
    outline: 1px solid var(--primary-color);
}

button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    height: 40px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 30px;
}

button:hover {
    background: var(--primary-color-darker);
}
